{% extends "base.html" %}

{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="container py-5" style="margin-top: 70px">
        <div class="row d-flex align-items-start">
            <h1 class="display-2 mb-5">Program Enkripsi dan Dekripsi</h1>

            <div class="container" style="margin: 0px 0px 150px">
                <h1 class="display-4">Metode Enkripsi :</h1>
                <ul class="display-6 ms-5">
                    <li class="list-item"><a href="/Shift-Cipher-standard">Shift Cipher standard (26 huruf alfabet)</a></li>
                    <li class="list-item"><a href="/Subtitution-Cipher-standard">Subtitution cipher standard (26 huruf alfabet)</a></li>
                    <li class="list-item"><a href="/Affine-Cipher-standard">Affine Cipher (26 huruf alfabet)</a></li>
                    <li class="list-item"><a href="/Vignere-Cipher-standard">Vigenere Cipher standard (26 huruf alfabet)</a></li>
                    <li class="list-item"><a href="/vigenere-ext-cipher">Extended Vigenere Cipher (256 karakter ASCII)</a></li>
                    <li class="list-item"><a href="/Hill-Cipher-standard">Hill chipher (26 huruf alfabet)</a></li>
                    <li class="list-item"><a href="/Playfair-Cipher-standard">Playfair chipher (26 huruf alfabet)</a></li>
                </ul>
            </div>

            <div class="container">
                <h1 class="display-4">Disusun Oleh</h1>
                <ul class="display-6 ms-5">
                    <li class="list-item">Eduardus Hardi Tjiputra </li>
                    <li class="list-item">Hafidh Muqsithanova Sukarno </li>
                    <li class="list-item">Muhammad Dwi Arfian </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
