{% extends "base.html" %}

{% block title %}Vignere Cipher standard (26 huruf alfabet){% endblock %}
{% block script %}
<script>
  function shuffle(o){
    for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
    return o;
  }
  function start() {
    var words = ['ABCDEFGHIJKLMNOPQRSTUVWXYZ'];
    var splitWord = shuffle(words[Math.floor(Math.random() * words.length)].split(""));
    for (let i = 0; i < Math.floor(Math.random()*15)+6; i++) {
      splitWord.pop()
    }
    string = splitWord.join("");
    console.log(splitWord);
    document.getElementById("acak").value=string;
  }
  function makeUnique(str) {
    return String.prototype.concat(...new Set(str))
  }
  function mustUnique() {
    var x = document.getElementById("acak").value;
    document.getElementById("acak").value=makeUnique(x);
  }
</script>
{% endblock %}
{% block content %}
  <div class="container py-5">
      <div class="row d-flex align-items-center" style="min-height: 60vh;">
          <div class="col">
            <h1 class="display-2 mb-5">Vignere Cipher standard (26 huruf alfabet)</h1>
              <h1 class="display-4">Enkripsi</h1>
              <!-- form text dan shift -->
              <form action="/Vignere-Cipher-standard" method="POST" enctype="multipart/form-data" name="inputfile" class="mb-2">
                      <div class="mb-3">
                        <label class="form-label">Text</label>
                        <input name="text_enc" type="text" placeholder="Alphabet kapital" pattern="[a-zA-Z]*" oninput="this.value = this.value.toUpperCase();" class="form-control" required>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Key</label>
                        <input name="key_enc" type="text"  pattern="[a-zA-Z]*" placeholder="Key dalam huruf kapital" oninput="this.value = this.value.toUpperCase()" class="form-control" id="acak" required>
                        <button type="button" class="btn btn-secondary mt-2" onclick="start()">Acak</button>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <!-- hasil enkripsi -->
              <div class="mb-5">
                  <label class="col-form-label">Hasil Enkripsi</label>
                  <input type="text" class="form-control" id="Energy" disabled value="{{content[0]}}">
              </div>

              <h1 class="display-4">Dekripsi</h1>
              <!-- form text dan shift -->
              <form action="/Vignere-Cipher-standard" method="POST" enctype="multipart/form-data" name="inputfile" class="mb-2">
                  <div class="mb-3">
                    <label class="form-label">Text</label>
                    <input name="text_dec" type="text" placeholder="Alphabet kapital" pattern="[a-zA-Z]*" oninput="this.value = this.value.toUpperCase()" class="form-control" required>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Key</label>
                    <input name="key_dec" type="text"  pattern="[a-zA-Z]*" placeholder="Key dalam huruf kapital" oninput="this.value = this.value.toUpperCase()" class="form-control" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <!-- hasil dekripsi -->
              <div class="mb-3">
                  <label class="col-form-label">Hasil Dekripsi</label>
                  <input type="text" class="form-control" id="Entropy" disabled value="{{content[1]}}">
              </div>
          </div>
      </div>
  </div>
{% endblock %}
