{% extends "base.html" %}

{% block title %}Kelompok-10 ITS-4{% endblock %}
{% block content %}
<div class="container py-5" style="margin-top: 20px">
  <div class="row d-flex align-items-start">
      <h1 class="display-2 mb-5">Prediksi Kunjuangan MCU RS Tugurejo</h1>
      <div class="container">
          <h1 class="display-6">Disusun Oleh</h1>
          <ul class="display-6 ms-5">
              <li class="list-item">Erikson Vri Anugrah Aritonang </li>
              <li class="list-item">Muhammad Dwi Arfian </li>
              <li class="list-item">Alya Paramitha Ayuningsih </li>
          </ul>
      </div>
  </div>
</div>
{% endblock %}